@charset "utf-8";
/* CSS Document */

.cangiua{display:block;
         margin-right:auto;
		 margin-left:auto;
}
.anhdemo{max-width:500px;
         display:block;
		 margin-right:auto;
		 margin-left:auto;
}
