@charset "utf-8";
/* CSS Document */

.anhdemo{max-width:500px;
         display:block;
         margin-left:auto;
         margin-right:auto; }
.cangiua{display:block;
         margin-left:auto;
		 margin-right:auto;
}